{% extends 'base.html' %}

{% block title %}Anomaly Detection Algorithm {%endblock title%}

<h1> Upload Your .csv File to Get Results Of The Anomaly Detection Algorithm</h1>

{%block body%}

<h1 style="text-align:center">Normal elements in Training Set: {{train_normal_samples}}</h1>
<h1 style="text-align:center">Anomalous elements in Training Set: {{train_anomalous_samples}}</h1>
<h1 style="text-align:center">Normal elements in Testing Set: {{test_normal_samples}}</h1>
<h1 style="text-align:center">Anomalous elements in Testing Set: {{test_anomalous_samples}}</h1>


{%endblock body%}